In [26]:
n=0
while n<10: 
  print(n)
  n=n+1
  if n==5:
    break

0
1
2
3
4

In [22]:
  n=0
  while n < 5:
    print(n) 
    n = n + 1
print("5 is not less than 5")

0
1
2
3
4
5 is not less than 5

In [60]:
fruitlist=["bannana", "orange"]
for fruit in fruitlist:
  print("I like",fruit) 
veggielist=["apple"] 
for veggie in veggielist:
 print(veggie,"is really a fruit?")

I like bannana
I like orange
apple is really a fruit?

In [33]:
n=30
sum=0
i=1
while i<=n:
  sum=sum+i
  i=i+1
  print(sum)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465

In [40]:
grade=55
if grade >= 90:
    print('A')
elif grade >=80:
    print('B')
elif grade >= 70:
    print('C')
elif grade >= 60:
    print('D')
elif grade <60:
    print('F')

F

In [160]:
marks={'Andy':88, 'Amy':66, 'James': 90, 'Jules': 55, 'Arthur': 77}
for k,v in marks.items():
    print('k=',k,'v=',v)

k= Andy v= 88
k= Amy v= 66
k= James v= 90
k= Jules v= 55
k= Arthur v= 77

In [165]:
def max( v1, v2, v3,v4,v5): 
  max=v1 
  if v2>max: 
    max=v2 
  if v3>max: 
    max=v3
  if v4>max:
    max=v4
  if v5>max:
    max=v5
  return max  
max(88,66,90,55,77)

90

In [195]:
def mean(v1,v2,v3,v4,v5):
  mean=v1+v2+v3+v4+v5/5
  return mean
mean=(88+66+90+55+77)/5
print(mean)

75.2

In [166]:
def min( v1, v2, v3,v4,v5): 
  min=v1 
  if v2<min: 
    min=v2 
  if v3<min: 
    min=v3
  if v4<min:
    min=v4
  if v5<min:
    min=v5
  return min  
min(88,66,90,55,77)

55

In [126]:
for i in ['Andy','Amy','James', 'Jules','Arthur']:
  if 'J' in i:
    break
  print(i)

Andy
Amy

In [125]:
for i in ['Andy','Amy','James', 'Jules','Arthur']:
   if 'J' in i:
     continue
   print(i)

Andy
Amy
Arthur